<!DOCTYPE html>
<html>
  <head>
    <title>TheKitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div ="container-fluid">
        <a class="navbar-brand p-3" href="/"><%= image_tag('logo.jpeg', :size =>'70x70') %></a>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
                <li class="nav-item mr-4 p-1"><span>ようこそ、<%= current_user.nickname %>さん！</span></li>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to 'マイページ', root_path, method: :get, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to '商品一覧', root_path, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to 'カート', root_path, method: :get, class: "", style: "text-decoration: none; color: black;"%></li>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to '新規投稿', new_recipe_path, method: :get, class: "", style: "text-decoration: none; color: black ;" %></li>
              <% else %>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to 'About', root_path, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to '商品一覧', root_path, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to '新規登録', new_user_registration_path, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1 bg-light" style="width: 90px; text-align:center;"><%= link_to 'ログイン', new_user_session_path, class: "", style: "text-decoration: none; color: black ;" %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer class=”footer”>© 2021 PF Kitchen</footer>
</html>
