<!DOCTYPE html>
<html>
  <head>
    <title>TheKitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/41e07661b7.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b490cA;">
      <div ="container-fluid">
        <a class="navbar-brand p-3" href="/"><%= image_tag('logo.jpg', :size =>'70x70') %></a>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
                <li class="nav-item mr-4 p-1"><span>ようこそ、<%= current_user.nickname %>さん！</span></li>
                <li class="nav-item mr-4 p-1 " style="background-color: #b490cA;">
                <%= form_with url: search_recipes_path, method: :get, local: true do |f| %>
                  <%= f.text_field :name %>
                  <%= f.submit :'レシピ検索' %>
                <% end %>
                </li>
                <li class="nav-item mr-4 p-1" style="width: 110px; text-align:center; background-color: #b490cA;"><i class="fas fa-carrot fa-lg nav-i"></i><%= link_to 'マイページ', user_path(current_user.id), method: :get, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1" style="width: 110px; text-align:center; background-color: #b490cA;"><i class="fas fa-carrot fa-lg nav-i"></i><%= link_to 'マイレシピ', list_path(current_user.id), method: :get, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1" style="width: 160px; text-align:center; background-color: #b490cA;"><i class="fas fa-carrot fa-lg nav-i"></i><%= link_to 'お気に入りレシピ', likes_path, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1" style="width: 110px; text-align:center; background-color: #b490cA;"><i class="fas fa-carrot fa-lg nav-i"></i><%= link_to 'フォロー', relationship_path, method: :get, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1" style="width: 110px; text-align:center; background-color: #b490cA;"><i class="fas fa-carrot fa-lg nav-i"></i><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1" style="width: 110px; text-align:center; background-color: #b490cA;"><i class="fas fa-carrot fa-lg nav-i"></i><%= link_to '新規投稿', new_recipe_path, method: :get, class: "", style: "text-decoration: none; color: black ;" %></li>
                
              <% else %>

                <li class="nav-item mr-4 p-1" style="width: 110px; text-align:center; background-color: #b490cA;"><i class="fas fa-carrot fa-lg nav-i"></i><%= link_to '新規登録', new_user_registration_path, class: "", style: "text-decoration: none; color: black ;" %></li>
                <li class="nav-item mr-4 p-1" style="width: 110px; text-align:center; background-color: #b490cA;"><i class="fas fa-carrot fa-lg nav-i"></i><%= link_to 'ログイン', new_user_session_path, class: "", style: "text-decoration: none; color: black ;" %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer class="fixed-bottom">
    <div style="width: 100%; height: 60px; background-color: #5ee7df; display: flex; justify-content: center; align-items: center;">
      <p class="text-muted">© 2021 PF Kitchen</p>
    </div>
  </footer>
</html>
